In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
train_data = pd.read_csv("FinalDataSet_final_1_2.csv",encoding = 'utf-8')
test_data = pd.read_csv("testing_dataset.csv",encoding = 'utf-8')

In [21]:
train_data

,Date,Commodity,Variety,Grade,Market,Arrival,Unit,Min,Max,Modal,Group
0,01/01/2010,Bajra,Hybrid,Average,BENGALURU,74,Quintal�,1800,2400,2100,Cereals
1,01/01/2010,Bajra,Hybrid,Average,RONA,6,Quintal�,1377,1377,1377,Cereals
2,01/01/2010,Bajra,Hybrid,Average,KOTTUR,8,Quintal�,1399,1406,1403,Cereals
3,01/01/2010,Bajra,Hybrid,Average,VIJAYAPURA,36,Quintal�,1300,1350,1325,Cereals
4,01/01/2010,Bajra,Hybrid,Small,BADAMI,200,Quintal�,1300,1450,1450,Cereals
5,01/01/2010,Bajra,Hybrid,Medium,BAGALKOT,87,Quintal�,1325,1431,1376,Cereals
6,01/01/2010,Bajra,Hybrid,Average,BALLARI,18,Quintal�,1386,4056,1794,Cereals
7,01/01/2010,Bajra,Local,Average,KALABURAGI,1135,Quintal�,1315,1608,1485,Cereals
8,01/01/2010,Bajra,Local,Average,BASAVAKALYANA,64,Quintal�,1350,1500,1450,Cereals
9,01/01/2010,Bajra,Local,Average,RAICHUR,15,Quintal�,1472,1472,1472,Cereals
10,01/01/2010,Jowar,Jowar ( White),Average,BENGALURU,198,Quintal�,2100,2300,2200,Cereals
11,01/01/2010,Jowar,Jowar ( White),Average,C.R.NAGAR,90,Quintal�,1530,1530,1530,Cereals
12,01/01/2010,Jowar,Jowar ( White),Average,BELAGAVI,13,Quintal�,2100,2900,2400,Cereals
13,01/01/2010,Jowar,Jowar ( White),Average,LAXMESHWAR,22,Quintal�,1060,1865,1406,Cereals
14,01/01/2010,Jowar,Jowar ( White),Average,VIJAYAPURA,6,Quintal�,1900,2200,2100,Cereals
15,01/01/2010,Jowar,Jowar ( White),Average,KALABURAGI,385,Quintal�,2450,3210,2640,Cereals
16,01/01/2010,Jowar,Jowar ( White),Average,GADAG,72,Quintal�,1011,2269,1723,Cereals
17,01/01/2010,Jowar,Jowar ( White),Average,BALLARI,21,Quintal�,1129,1818,1533,Cereals
18,01/01/2010,Jowar,Jowar ( White),Average,BIDAR,140,Quintal�,3000,3500,3200,Cereals
19,01/01/2010,Jowar,Jowar (Yellow),Average,BASAVAKALYANA,11,Quintal�,2100,2325,2250,Cereals
20,01/01/2010,Jowar,Local,Average,DAVANAGERE,121,Quintal�,1800,1900,1850,Cereals
21,01/01/2010,Jowar,Jowar Hybrid,FAQ,HARAPANAHALLI,162,Quintal�,1380,1383,1381,Cereals
22,01/01/2010,Jowar,Jowar Hybrid,Average,KOTTUR,2,Quintal�,1273,1273,1273,Cereals
23,01/01/2010,Jowar,Hybrid,Average,KALABURAGI,105,Quintal�,1450,2100,1850,Cereals
24,01/01/2010,Jowar,Hybrid,Average,BASAVAKALYANA,98,Quintal�,1230,1350,1250,Cereals
25,01/01/2010,Maize,Hybrid/Local,Average,BENGALURU,333,Quintal�,1450,1600,1525,Cereals
26,01/01/2010,Maize,Hybrid/Local,Medium,HOSADURGA,213,Quintal�,1300,1350,1330,Cereals
27,01/01/2010,Maize,Hybrid/Local,Average,HARIHARA,2620,Quintal�,1300,1420,1360,Cereals
28,01/01/2010,Maize,Hybrid/Local,FAQ,HARAPANAHALLI,587,Quintal�,1330,1390,1347,Cereals
29,01/01/2010,Maize,Hybrid/Local,Average,GOWRIBIDNUR,13009,Quintal�,1400,1450,1420,Cereals
...,...,...,...,...,...,...,...,...,...,...,...
1006773,31/12/2016,Tamarind Fruit,Tamarind Fruit,Average,MADHUGIRI,288,Quintal,3500,5000,3675,Forest Products
1006774,31/12/2016,Tamarind Fruit,Tamarind Fruit,Average,MYSURU,13,Quintal,700,10320,6310,Forest Products
1006775,31/12/2016,Tamarind Fruit,Tamarind Fruit,Average,GUNDLUPET,140,Quintal,750,800,750,Forest Products
1006776,31/12/2016,Tamarind Fruit,Tamarind Fruit,Average,SIRSI,30,Quintal,4000,10800,7000,Forest Products
1006777,31/12/2016,Tamarind Seed,Tamarind Seed,Average,MYSURU,3,Quintal,1426,1426,1426,Forest Products
1006778,31/12/2016,Bull (For Each),Bull,Average,C.R.PATNA,12,Numbers,16000,26000,20000,Live Stock/Poultry
1006779,31/12/2016,Bull (For Each),Bull,Average,SAVADATTI,71,Numbers,68500,68500,68500,Live Stock/Poultry
1006780,31/12/2016,Cow (For Each),Cow,Average,C.R.PATNA,3,Numbers,15000,20000,18000,Live Stock/Poultry
1006781,31/12/2016,Cow (For Each),Cow,Average,CHICKBALLAPUR,119,Numbers,20000,35000,20000,Live Stock/Poultry
1006782,31/12/2016,Cow (For Each),Cow,Average,SAVADATTI,69,Numbers,61000,61000,61000,Live Stock/Poultry
1006783,31/12/2016,Goat (For Each),Goat,Average,MADDUR,192,Numbers,2500,10500,9000,Live Stock/Poultry
1006784,31/12/2016,Goat (For Each),Goat,Medium,HAGARI BOMMANA HALLI,250,Numbers,2200,4500,3500,Live Stock/Poultry
1006785,31/12/2016,Goat (For Each),Goat,Average,HIRIYUR,760,Numbers,2200,9500,4800,Live Stock/Poultry
1006786,31/12/2016,Goat (For Each),Goat,Average,BAGEPALLI,140,Numbers,2800,3400,3200,Live Stock/Poultry
1006787,31/12/2016,He Baffalo (For Each),He Baffelo,Average,SAVADATTI,26,Numbers,13000,13000,13000,Live Stock/Poultry
1006788,31/12/2016,Ox (For Each),Ox,Medium,HAGARI BOMMANA HALLI,188,Numbers,14500,31000,25000,Live Stock/Poultry
1006789,31/12/2016,Ox (For Each),Ox,Average,CHICKBALLAPUR,25,Numbers,10000,25000,19000,Live Stock/Poultry
1006790,31/12/2016,Ox (For Each),Ox,Average,C.R.PATNA,48,Numbers,18000,28000,25000,Live Stock/Poultry
1006791,31/12/2016,Ox (For Each),Ox,Average,SAVADATTI,42,Numbers,68000,68000,68000,Live Stock/Poultry
1006792,31/12/2016,She Baffalo (For Each),She Baffelo,Average,C.R.PATNA,15,Numbers,12000,20000,18000,Live Stock/Poultry
1006793,31/12/2016,She Baffalo (For Each),She Baffelo,Average,CHICKBALLAPUR,17,Numbers,10000,50000,25000,Live Stock/Poultry
1006794,31/12/2016,She Baffalo (For Each),She Baffelo,Medium,HAGARI BOMMANA HALLI,75,Numbers,8500,22500,16500,Live Stock/Poultry
1006795,31/12/2016,She Baffalo (For Each),She Baffelo,Average,SAVADATTI,41,Numbers,19500,19500,19500,Live Stock/Poultry
1006796,31/12/2016,Sheep (For Each),Sheep Medium,Average,BAGEPALLI,620,Numbers,2600,3200,3000,Live Stock/Poultry
1006797,31/12/2016,Sheep (For Each),Sheep Medium,Medium,HAGARI BOMMANA HALLI,445,Numbers,3200,8500,4800,Live Stock/Poultry
1006798,31/12/2016,Sheep (For Each),Sheep Medium,Average,HIRIYUR,710,Numbers,2500,10000,5000,Live Stock/Poultry
1006799,31/12/2016,Sheep (For Each),Sheep Medium,Average,MADDUR,258,Numbers,2000,10000,8500,Live Stock/Poultry
1006800,31/12/2016,Crysanthamum,Other,Average,CHICKBALLAPUR,15,Quintal,6000,8000,7000,Flowers
1006801,31/12/2016,Marygold,Other,Average,CHICKBALLAPUR,40,Quintal,1000,35000,2500,Flowers
1006802,31/12/2016,Rose,Other,Average,CHICKBALLAPUR,30,Quintal,2000,6000,4000,Flowers

In [22]:
train_data.shape

(1006803, 11)

In [23]:
test_data.shape

(51221, 10)

In [24]:
test_data.head()

,Date,Commodity,Variety,Grade,Market,Arrival,Unit,Min,Max,Modal
0,01/01/2017,Bajra,Hybrid,Average,KUSTAGI,150,Quintal�,1510,1510,1510
1,01/01/2017,Jowar,Jowar ( White),Average,BELAGAVI,10,Quintal�,2800,3400,3200
2,01/01/2017,Jowar,Jowar ( White),Medium,HAGARI BOMMANA HALLI,25,Quintal�,1630,1630,1630
3,01/01/2017,Jowar,Jowar Hybrid,Average,HUMNABAD,29,Quintal�,1000,1100,1050
4,01/01/2017,Maize,Local,Average,SHIGGAON,2913,Quintal�,1300,1400,1362

In [3]:
pd.unique(test_data['Unit'].values.ravel())

array(['Quintal�', 'Numbers�', 'Thousands', 'Quintal', 'Numbers'], dtype=object)

In [26]:
pd.unique(test_data['Commodity'].values.ravel())

array(['Bajra', 'Jowar', 'Maize', 'Navane', 'Paddy', 'Ragi', 'Rice',
       'Blackgram', 'Cowpea', 'Greengram', 'Horse Gram', 'Tur', 'Copra',
       'Groundnut', 'Groundnut Seed', 'Soyabeen', 'Sunflower', 'Cotton',
       'Jute', 'Beans', 'Beetroot', 'Bitter Gourd', 'Bottle Gourd',
       'Brinjal', 'Cabbage', 'Capsicum', 'Carrot', 'Cauliflower',
       'Chilly Capsicum', 'Cucumbar', 'Green Chilly', 'Green Ginger',
       'Knool Khol', 'Onion', 'Potato', 'Raddish', 'Ridgeguard',
       'Seemebadanekai', 'Snakeguard', 'Sweet Potato', 'Sweet Pumpkin',
       'Tomato', 'Coriander Seed', 'Coconut (Per 1000)', 'Jaggery',
       'Tender Coconut', 'Arecanut', 'Cow (For Each)', 'Goat (For Each)',
       'Ox (For Each)', 'She Baffalo (For Each)', 'She Goat (For Each)',
       'Sheep (For Each)', 'Same/Savi', 'Wheat', 'Alasande Gram', 'Arhar',
       'Avare', 'Avaredal', 'Bengal Gramdal', 'Bengalgram',
       'Black Gramdal', 'Chennangidal', 'Green Gramdal', 'Tur Dal',
       'Castor Seed', 'Gingelly', 'Mustard', 'Neem Seed', 'Safflower',
       'Sesamum', 'Apple', 'Banana', 'Borehannu', 'Chikoos (Sapota)',
       'Grapes', 'Karbuja', 'Mousambi', 'Orange', 'Papaya', 'Pine Apple',
       'Pomagranate', 'Water Melon', 'Alasandikai', 'Ash Gourd',
       'Banana Green', 'Bunch Beans', 'Chapparada Avare', 'Coriander',
       'Drum Stick', 'Green Avare (W)', 'Ladies Finger',
       'Leafy Vegetables', 'Lime (Lemon)', 'Peas Wet', 'Suvarnagadde',
       'Thogarikai', 'Thondekai', 'White Pumpkin', 'Dry Chillies',
       'Garlic', 'Ginger', 'Pepper', 'Turmeric', 'Cashewnut',
       'Coco Brooms', 'Betal Leaves', 'Soapnut', 'Tamarind Fruit',
       'Tamarind Seed', 'Sajje', 'Green Peas', 'Lint�', 'Ram (For Each)',
       'Chilly Red', 'Methi Seeds', 'Dry Grapes', 'Maragenasu',
       'Bull (For Each)', 'Calf (For Each)', 'He Baffalo (For Each)',
       'Crysanthamum', 'Marygold', 'Rose', 'Honge Seed', 'Moath',
       'Gurellu', 'Marasebu', 'Citrus Fruit', 'Mataki', 'Barley',
       'Jack Fruit', 'Sweet Lime', 'Redgram', 'Cotton Seed', 'Cumminseed',
       'All Flowers', 'Lint', 'Mango (Raw-Ripe)', 'Soji', 'Duster Beans',
       'T. V. Cumbu', 'Antawala', 'Mango', 'Wood', 'Skin and Hide'], dtype=object)

In [4]:
print("Cleaning training data...")
train_data = train_data.replace({'Quintal�':'Quintal'}, regex = True)
train_data = train_data.replace({'Quintal ':'Quintal'}, regex = True)
train_data = train_data.replace({'Numbers�':'Numbers'}, regex = True)
train_data = train_data.replace({'Numbers ':'Numbers'}, regex = True)
train_data = train_data.replace({'Lint�':'Lint'}, regex = True)
train_data = train_data.replace({'Lint ':'Lint'}, regex = True)
train_data = train_data.replace({'Sona Masuri Old�':'Sona Masuri Old'}, regex = True)
print("Cleaning training data...completed")
print("Cleaning testing data...")
test_data = test_data.replace({'Quintal�':'Quintal'}, regex = True)
test_data = test_data.replace({'Quintal ':'Quintal'}, regex = True)
test_data = test_data.replace({'Numbers�':'Numbers'}, regex = True)
test_data = test_data.replace({'Numbers ':'Numbers'}, regex = True)
test_data = test_data.replace({'Lint�':'Lint'}, regex = True)
test_data = test_data.replace({'Lint ':'Lint'}, regex = True)
test_data = test_data.replace({'Sona Masuri Old�':'Sona Masuri Old'}, regex = True)
print("Cleaning testing data...completed")

Cleaning training data...
Cleaning training data...completed
Cleaning testing data...
Cleaning testing data...completed

In [5]:
pd.unique(test_data['Unit'].values.ravel())

array(['Quintal', 'Numbers', 'Thousands'], dtype=object)

In [6]:
train_data.isnull().sum()

Date            0
Commodity       0
Variety         0
Grade           0
Market          0
Arrival         0
Unit            0
Min             0
Max             0
Modal           0
Group        9828
dtype: int64

In [7]:
train_data.fillna(method='ffill',inplace = True)
train_data.isnull().sum()

Date         0
Commodity    0
Variety      0
Grade        0
Market       0
Arrival      0
Unit         0
Min          0
Max          0
Modal        0
Group        0
dtype: int64

In [8]:
test_data.head()

,Date,Commodity,Variety,Grade,Market,Arrival,Unit,Min,Max,Modal
0,01/01/2017,Bajra,Hybrid,Average,KUSTAGI,150,Quintal,1510,1510,1510
1,01/01/2017,Jowar,Jowar ( White),Average,BELAGAVI,10,Quintal,2800,3400,3200
2,01/01/2017,Jowar,Jowar ( White),Medium,HAGARI BOMMANA HALLI,25,Quintal,1630,1630,1630
3,01/01/2017,Jowar,Jowar Hybrid,Average,HUMNABAD,29,Quintal,1000,1100,1050
4,01/01/2017,Maize,Local,Average,SHIGGAON,2913,Quintal,1300,1400,1362

In [9]:
dictionary = dict(zip(train_data.Commodity, train_data.Group))
dictionary

{'Alasande Gram': 'Pulses',
 'Alasandikai': 'Vegetables',
 'All Flowers': 'Live Stock/Poultry',
 'Antawala': 'Forest Products',
 'Apple': 'Fruits',
 'Arecanut': 'Drugs & Narcotics',
 'Arhar': 'Pulses',
 'Ash Gourd': 'Vegetables',
 'Avare': 'Pulses',
 'Avaredal': 'Pulses',
 'Bajra': 'Cereals',
 'Banana': 'Fruits',
 'Banana Green': 'Vegetables',
 'Beans': 'Vegetables',
 'Beetroot': 'Vegetables',
 'Bengal Gramdal': 'Pulses',
 'Bengalgram': 'Pulses',
 'Betal Leaves': 'Drugs & Narcotics',
 'Bitter Gourd': 'Vegetables',
 'Black Gramdal': 'Pulses',
 'Blackgram': 'Pulses',
 'Borehannu': 'Fruits',
 'Bottle Gourd': 'Vegetables',
 'Brinjal': 'Vegetables',
 'Bull (For Each)': 'Live Stock/Poultry',
 'Bullar': 'Pulses',
 'Bunch Beans': 'Vegetables',
 'Cabbage': 'Vegetables',
 'Calf (For Each)': 'Live Stock/Poultry',
 'Capsicum': 'Vegetables',
 'Carrot': 'Vegetables',
 'Cashewnut': 'Dry Fruits',
 'Castor Seed': 'Oil Seeds',
 'Cauliflower': 'Vegetables',
 'Chapparada Avare': 'Vegetables',
 'Chennangidal': 'Pulses',
 'Chikoos (Sapota)': 'Fruits',
 'Chilly Capsicum': 'Vegetables',
 'Chilly Red': 'Vegetables',
 'Citrus Fruit': 'Dry Fruits',
 'Coco Brooms': 'Other',
 'Coconut (Per 1000)': 'Other',
 'Copra': 'Oil Seeds',
 'Coriander': 'Vegetables',
 'Coriander Seed': 'Spices',
 'Cotton': 'Fibre Crops',
 'Cotton Seed': 'Oil Seeds',
 'Cow (For Each)': 'Live Stock/Poultry',
 'Cowpea': 'Pulses',
 'Cowpea (Veg)': 'Vegetables',
 'Crysanthamum': 'Flowers',
 'Cucumbar': 'Vegetables',
 'Drum Stick': 'Vegetables',
 'Dry Chillies': 'Spices',
 'Dry Grapes': 'Dry Fruits',
 'Duster Beans': 'Vegetables',
 'Garlic': 'Spices',
 'Gingelly': 'Oil Seeds',
 'Ginger': 'Spices',
 'Goat (For Each)': 'Live Stock/Poultry',
 'Grapes': 'Fruits',
 'Green Avare (W)': 'Vegetables',
 'Green Chilly': 'Vegetables',
 'Green Ginger': 'Vegetables',
 'Green Gramdal': 'Pulses',
 'Green Peas': 'Pulses',
 'Greengram': 'Pulses',
 'Groundnut': 'Oil Seeds',
 'Groundnut Seed': 'Oil Seeds',
 'Guava': 'Fruits',
 'Gurellu': 'Oil Seeds',
 'He Baffalo (For Each)': 'Live Stock/Poultry',
 'Hippe Seed': 'Oil Seeds',
 'Honge Seed': 'Oil Seeds',
 'Horse Gram': 'Pulses',
 'Jack Fruit': 'Fruits',
 'Jaggery': 'Other',
 'Jowar': 'Cereals',
 'Karbuja': 'Fruits',
 'Knool Khol': 'Vegetables',
 'Ladies Finger': 'Vegetables',
 'Leafy Vegetables': 'Vegetables',
 'Lime (Lemon)': 'Vegetables',
 'Linseed': 'Oil Seeds',
 'Lint': 'Fibre Crops',
 'Maize': 'Cereals',
 'Mango': 'Fruits',
 'Mango (Raw-Ripe)': 'Vegetables',
 'Maragenasu': 'Vegetables',
 'Marasebu': 'Fruits',
 'Marygold': 'Flowers',
 'Mataki': 'Pulses',
 'Methi Seeds': 'Spices',
 'Moath': 'Pulses',
 'Mousambi': 'Fruits',
 'Mustard': 'Oil Seeds',
 'Navane': 'Cereals',
 'Neem Seed': 'Oil Seeds',
 'Niger Seed': 'Oil Seeds',
 'Onion': 'Vegetables',
 'Orange': 'Fruits',
 'Ox (For Each)': 'Live Stock/Poultry',
 'Paddy': 'Cereals',
 'Papaya': 'Fruits',
 'Peas Wet': 'Vegetables',
 'Pepper': 'Spices',
 'Pine Apple': 'Fruits',
 'Pomagranate': 'Fruits',
 'Potato': 'Vegetables',
 'Raddish': 'Vegetables',
 'Ragi': 'Cereals',
 'Ram (For Each)': 'Live Stock/Poultry',
 'Redgram': 'Pulses',
 'Rice': 'Cereals',
 'Ridgeguard': 'Vegetables',
 'Rose': 'Flowers',
 'Safflower': 'Oil Seeds',
 'Sajje': 'Cereals',
 'Same/Savi': 'Cereals',
 'Seemebadanekai': 'Vegetables',
 'Seethaphal': 'Fruits',
 'Sesamum': 'Oil Seeds',
 'She Baffalo (For Each)': 'Live Stock/Poultry',
 'She Goat (For Each)': 'Live Stock/Poultry',
 'Sheep (For Each)': 'Live Stock/Poultry',
 'Snakeguard': 'Vegetables',
 'Soapnut': 'Forest Products',
 'Soji': 'Cereals',
 'Soyabeen': 'Oil Seeds',
 'Sunflower': 'Oil Seeds',
 'Suvarnagadde': 'Vegetables',
 'Sweet Lime': 'Fruits',
 'Sweet Potato': 'Vegetables',
 'Sweet Pumpkin': 'Vegetables',
 'T. V. Cumbu': 'Cereals',
 'Tamarind Fruit': 'Forest Products',
 'Tamarind Seed': 'Forest Products',
 'Tender Coconut': 'Other',
 'Thogarikai': 'Vegetables',
 'Thondekai': 'Vegetables',
 'Tomato': 'Vegetables',
 'Tur': 'Pulses',
 'Tur Dal': 'Pulses',
 'Turmeric': 'Spices',
 'Water Melon': 'Fruits',
 'Wheat': 'Cereals',
 'White Pumpkin': 'Vegetables',
 'Wood': 'Forest Products'}

In [10]:
test_data['Group'] = test_data['Commodity'].map(dictionary)
test_data.head()

,Date,Commodity,Variety,Grade,Market,Arrival,Unit,Min,Max,Modal,Group
0,01/01/2017,Bajra,Hybrid,Average,KUSTAGI,150,Quintal,1510,1510,1510,Cereals
1,01/01/2017,Jowar,Jowar ( White),Average,BELAGAVI,10,Quintal,2800,3400,3200,Cereals
2,01/01/2017,Jowar,Jowar ( White),Medium,HAGARI BOMMANA HALLI,25,Quintal,1630,1630,1630,Cereals
3,01/01/2017,Jowar,Jowar Hybrid,Average,HUMNABAD,29,Quintal,1000,1100,1050,Cereals
4,01/01/2017,Maize,Local,Average,SHIGGAON,2913,Quintal,1300,1400,1362,Cereals

In [11]:
data = pd.concat((train_data, test_data), axis=0, ignore_index=True)
data.shape

(1058024, 11)

In [35]:
data

,Date,Commodity,Variety,Grade,Market,Arrival,Unit,Min,Max,Modal,Group
0,01/01/2010,Bajra,Hybrid,Average,BENGALURU,74,Quintal,1800,2400,2100,Cereals
1,01/01/2010,Bajra,Hybrid,Average,RONA,6,Quintal,1377,1377,1377,Cereals
2,01/01/2010,Bajra,Hybrid,Average,KOTTUR,8,Quintal,1399,1406,1403,Cereals
3,01/01/2010,Bajra,Hybrid,Average,VIJAYAPURA,36,Quintal,1300,1350,1325,Cereals
4,01/01/2010,Bajra,Hybrid,Small,BADAMI,200,Quintal,1300,1450,1450,Cereals
5,01/01/2010,Bajra,Hybrid,Medium,BAGALKOT,87,Quintal,1325,1431,1376,Cereals
6,01/01/2010,Bajra,Hybrid,Average,BALLARI,18,Quintal,1386,4056,1794,Cereals
7,01/01/2010,Bajra,Local,Average,KALABURAGI,1135,Quintal,1315,1608,1485,Cereals
8,01/01/2010,Bajra,Local,Average,BASAVAKALYANA,64,Quintal,1350,1500,1450,Cereals
9,01/01/2010,Bajra,Local,Average,RAICHUR,15,Quintal,1472,1472,1472,Cereals
10,01/01/2010,Jowar,Jowar ( White),Average,BENGALURU,198,Quintal,2100,2300,2200,Cereals
11,01/01/2010,Jowar,Jowar ( White),Average,C.R.NAGAR,90,Quintal,1530,1530,1530,Cereals
12,01/01/2010,Jowar,Jowar ( White),Average,BELAGAVI,13,Quintal,2100,2900,2400,Cereals
13,01/01/2010,Jowar,Jowar ( White),Average,LAXMESHWAR,22,Quintal,1060,1865,1406,Cereals
14,01/01/2010,Jowar,Jowar ( White),Average,VIJAYAPURA,6,Quintal,1900,2200,2100,Cereals
15,01/01/2010,Jowar,Jowar ( White),Average,KALABURAGI,385,Quintal,2450,3210,2640,Cereals
16,01/01/2010,Jowar,Jowar ( White),Average,GADAG,72,Quintal,1011,2269,1723,Cereals
17,01/01/2010,Jowar,Jowar ( White),Average,BALLARI,21,Quintal,1129,1818,1533,Cereals
18,01/01/2010,Jowar,Jowar ( White),Average,BIDAR,140,Quintal,3000,3500,3200,Cereals
19,01/01/2010,Jowar,Jowar (Yellow),Average,BASAVAKALYANA,11,Quintal,2100,2325,2250,Cereals
20,01/01/2010,Jowar,Local,Average,DAVANAGERE,121,Quintal,1800,1900,1850,Cereals
21,01/01/2010,Jowar,Jowar Hybrid,FAQ,HARAPANAHALLI,162,Quintal,1380,1383,1381,Cereals
22,01/01/2010,Jowar,Jowar Hybrid,Average,KOTTUR,2,Quintal,1273,1273,1273,Cereals
23,01/01/2010,Jowar,Hybrid,Average,KALABURAGI,105,Quintal,1450,2100,1850,Cereals
24,01/01/2010,Jowar,Hybrid,Average,BASAVAKALYANA,98,Quintal,1230,1350,1250,Cereals
25,01/01/2010,Maize,Hybrid/Local,Average,BENGALURU,333,Quintal,1450,1600,1525,Cereals
26,01/01/2010,Maize,Hybrid/Local,Medium,HOSADURGA,213,Quintal,1300,1350,1330,Cereals
27,01/01/2010,Maize,Hybrid/Local,Average,HARIHARA,2620,Quintal,1300,1420,1360,Cereals
28,01/01/2010,Maize,Hybrid/Local,FAQ,HARAPANAHALLI,587,Quintal,1330,1390,1347,Cereals
29,01/01/2010,Maize,Hybrid/Local,Average,GOWRIBIDNUR,13009,Quintal,1400,1450,1420,Cereals
...,...,...,...,...,...,...,...,...,...,...,...
1057994,31/03/2017,Tamarind Fruit,Tamarind Fruit,Average,MADHUGIRI,30,Quintal,3300,5000,3692,Forest Products
1057995,31/03/2017,Tamarind Fruit,Tamarind Fruit,Average,MYSURU,4,Quintal,1527,11777,7435,Forest Products
1057996,31/03/2017,Tamarind Seed,Tamarind Seed,Average,MYSURU,1,Quintal,1515,1515,1515,Forest Products
1057997,31/03/2017,Tamarind Seed,Tamarind Seed,Average,KADUR,168,Quintal,1525,1525,1525,Forest Products
1057998,31/03/2017,Tamarind Seed,Tamarind Seed,Average,HASSAN,100,Quintal,1420,1420,1420,Forest Products
1057999,31/03/2017,Bull (For Each),Bull,Average,DAVANAGERE,2,Numbers,35000,58000,46500,Live Stock/Poultry
1058000,31/03/2017,Bull (For Each),Bull,Average,NIPPANI,8,Numbers,14000,26000,21000,Live Stock/Poultry
1058001,31/03/2017,Bull (For Each),Bull,Average,BADAMI,19,Numbers,18000,26000,21000,Live Stock/Poultry
1058002,31/03/2017,Calf (For Each),Other,Average,DAVANAGERE,6,Numbers,6000,7000,6500,Live Stock/Poultry
1058003,31/03/2017,Cow (For Each),Cow,Average,DAVANAGERE,9,Numbers,35000,50000,42500,Live Stock/Poultry
1058004,31/03/2017,Cow (For Each),Cow,Average,ARSIKERE,9,Numbers,28000,35000,30000,Live Stock/Poultry
1058005,31/03/2017,Cow (For Each),Cow,Average,NIPPANI,8,Numbers,15000,45000,40000,Live Stock/Poultry
1058006,31/03/2017,Cow (For Each),Cow,Average,BADAMI,36,Numbers,29000,50000,30000,Live Stock/Poultry
1058007,31/03/2017,Goat (For Each),Goat,Average,NIPPANI,65,Numbers,2000,4800,4000,Live Stock/Poultry
1058008,31/03/2017,Goat (For Each),Goat,Average,BADAMI,221,Numbers,4400,9900,5900,Live Stock/Poultry
1058009,31/03/2017,He Baffalo (For Each),He Baffelo,Average,BADAMI,10,Numbers,2000,5000,5000,Live Stock/Poultry
1058010,31/03/2017,Ox (For Each),Ox,Average,DAVANAGERE,7,Numbers,44500,54000,49250,Live Stock/Poultry
1058011,31/03/2017,Ox (For Each),Ox,Average,ARSIKERE,203,Numbers,45000,90000,87000,Live Stock/Poultry
1058012,31/03/2017,Ox (For Each),Ox,Average,NIPPANI,6,Numbers,12000,28000,22000,Live Stock/Poultry
1058013,31/03/2017,Ox (For Each),Ox,Average,BADAMI,14,Numbers,21000,25000,23000,Live Stock/Poultry
1058014,31/03/2017,Ram (For Each),Ram,Average,BADAMI,277,Numbers,4300,9800,6600,Live Stock/Poultry
1058015,31/03/2017,She Baffalo (For Each),She Baffelo,Average,DAVANAGERE,44,Numbers,28000,35000,31500,Live Stock/Poultry
1058016,31/03/2017,She Baffalo (For Each),She Baffelo,Average,KUDCHI,1,Numbers,45000,55000,50000,Live Stock/Poultry
1058017,31/03/2017,She Baffalo (For Each),She Baffelo,Average,NIPPANI,22,Numbers,10000,50000,42000,Live Stock/Poultry
1058018,31/03/2017,She Baffalo (For Each),She Baffelo,Average,BADAMI,106,Numbers,26000,50000,32000,Live Stock/Poultry
1058019,31/03/2017,She Goat (For Each),She Goat,Average,BADAMI,285,Numbers,3200,6700,5200,Live Stock/Poultry
1058020,31/03/2017,Sheep (For Each),Sheep Medium,Average,BADAMI,1120,Numbers,2800,6900,4800,Live Stock/Poultry
1058021,31/03/2017,Crysanthamum,Other,Average,CHICKBALLAPUR,18,Quintal,10000,12000,10500,Flowers
1058022,31/03/2017,Marygold,Other,Average,CHICKBALLAPUR,53,Quintal,1000,2500,1500,Flowers
1058023,31/03/2017,Rose,Other,Average,CHICKBALLAPUR,45,Quintal,1500,3500,2200,Flowers

In [13]:
pd.unique(data['Market'].values.ravel())

array(['BENGALURU', 'RONA', 'KOTTUR', 'VIJAYAPURA', 'BADAMI', 'BAGALKOT',
       'BALLARI', 'KALABURAGI', 'BASAVAKALYANA', 'RAICHUR', 'C.R.NAGAR',
       'BELAGAVI', 'LAXMESHWAR', 'GADAG', 'BIDAR', 'DAVANAGERE',
       'HARAPANAHALLI', 'HOSADURGA', 'HARIHARA', 'GOWRIBIDNUR',
       'BANGARPET', 'MUNDAGOD', 'SHIVAMOGGA', 'MADHUGIRI', 'KUNIGAL',
       'C.R.PATNA', 'BELUR', 'KUDCHI', 'CHITRADURGA', 'HONNALI', 'KOLAR',
       'CHINTAMANI', 'SHIKARIPUR', 'RANIBENNUR', 'BAGEPALLI', 'SORABHA',
       'SAVADATTI', 'DHARWAR', 'KALGHATGI', 'KUNDGOL', 'HANGAL', 'HAVERI',
       'HASSAN', 'ARSIKERE', 'HOLENARASIPUR', 'KOLLEGAL', 'GUNDLUPET',
       'BHADRAVATHI', 'TUMAKURU', 'SIRA', 'MYSURU', 'K.R.NAGAR',
       'SOMWARPET', 'CHALLAKERE', 'MUNDARGI', 'HOOVINAHADAGALI',
       'HOLALKERE', 'DODDABALLAPUR', 'TARIKERE', 'KADUR', 'MUDIGERE',
       'HUNSUR', 'SANTHESARGUR', 'BELTHANGADI', 'UDIPI', 'ARAKALGUD',
       'T.NARSIPUR', 'MADDUR', 'MANGALURU', 'TIRTHAHALLI', 'CHANNAGIRI',
       'KUNDAPUR', 'NANJANGUD', 'CHIKKAMAGALURU', 'GONIKOPPAL',
       'SIRAGUPPA', 'GANGAVATI', 'SINDHANUR', 'KARTAGI', 'MALUR',
       'SRINIVASPUR', 'MADIKERI', 'LINGASARGUR', 'HULIYAR', 'NARGUND',
       'HOSKOTE', 'BHALKI', 'HUBBALLI', 'CHITTAPURA', 'SEDAM', 'YADGIR',
       'HUMNABAD', 'SHORAPUR', 'TURUVEKERE', 'NAGAMANGALA', 'KOPPAL',
       'BAILHONGAL', 'GOKAK', 'ANNIGERI', 'YELBURGA', 'MANVI', 'JEVARGI',
       'BINNY MILL (F&V)', 'CHANNAPATNA', 'KANAKAPURA', 'KOPPA',
       'RAMANAGARA', 'K.R.PET', 'SRIRANGAPATNA', 'CHICKBALLAPUR',
       'MULBAGAL', 'BYADGI', 'SIRSI', 'MANDYA', 'PANDAVAPURA',
       'MAHALINGAPURA', 'GUBBI', 'PUTTUR', 'BANTWALA', 'KARKALA', 'KUMTA',
       'HONNAVAR', 'SIDDAPURA', 'YELLAPURA', 'HOSANAGAR', 'NIPPANI',
       'KUSTAGI', 'HAGARI BOMMANA HALLI', 'SANKESHWAR', 'HIREKERUR',
       'PERIYAPATNA', 'ATHANI', 'SINDAGI', 'BILAGI', 'HOSAPETE', 'SAVANUR',
       'TIPTUR', 'HIRIYUR', 'RAMDURGA', 'HALIYALA', 'SHIGGAON',
       'SAKLESHPUR', 'SAGAR', 'JAMKANDI', 'ENDI', 'KARWAR', 'SULYA',
       'PAVAGADA', 'SHAHAPUR', 'AURAD', 'DEVDURGA'], dtype=object)

In [14]:
data['Arrival'] = np.where(data['Unit']=='Thousands',data['Arrival'],data['Arrival'])
data = data.replace({'Thousands':'Numbers'}, regex = True)

In [15]:
pd.unique(data['Group'].values.ravel())

array(['Cereals', 'Pulses', 'Oil Seeds', 'Fibre Crops', 'Fruits',
       'Vegetables', 'Spices', 'Dry Fruits', 'Other', 'Drugs & Narcotics',
       'Forest Products', 'Live Stock/Poultry', 'Flowers', nan], dtype=object)

In [16]:
data.isnull().sum()

Date          0
Commodity     0
Variety       0
Grade         0
Market        0
Arrival       0
Unit          0
Min           0
Max           0
Modal         0
Group        64
dtype: int64

In [17]:
data.fillna(method='ffill',inplace = True)
data.isnull().sum()

Date         0
Commodity    0
Variety      0
Grade        0
Market       0
Arrival      0
Unit         0
Min          0
Max          0
Modal        0
Group        0
dtype: int64

In [18]:
data['Avg'] = (data['Min']+data['Max'])/2.0
data

,Date,Commodity,Variety,Grade,Market,Arrival,Unit,Min,Max,Modal,Group,Avg
0,01/01/2010,Bajra,Hybrid,Average,BENGALURU,74,Quintal,1800,2400,2100,Cereals,2100.0
1,01/01/2010,Bajra,Hybrid,Average,RONA,6,Quintal,1377,1377,1377,Cereals,1377.0
2,01/01/2010,Bajra,Hybrid,Average,KOTTUR,8,Quintal,1399,1406,1403,Cereals,1402.5
3,01/01/2010,Bajra,Hybrid,Average,VIJAYAPURA,36,Quintal,1300,1350,1325,Cereals,1325.0
4,01/01/2010,Bajra,Hybrid,Small,BADAMI,200,Quintal,1300,1450,1450,Cereals,1375.0
5,01/01/2010,Bajra,Hybrid,Medium,BAGALKOT,87,Quintal,1325,1431,1376,Cereals,1378.0
6,01/01/2010,Bajra,Hybrid,Average,BALLARI,18,Quintal,1386,4056,1794,Cereals,2721.0
7,01/01/2010,Bajra,Local,Average,KALABURAGI,1135,Quintal,1315,1608,1485,Cereals,1461.5
8,01/01/2010,Bajra,Local,Average,BASAVAKALYANA,64,Quintal,1350,1500,1450,Cereals,1425.0
9,01/01/2010,Bajra,Local,Average,RAICHUR,15,Quintal,1472,1472,1472,Cereals,1472.0
10,01/01/2010,Jowar,Jowar ( White),Average,BENGALURU,198,Quintal,2100,2300,2200,Cereals,2200.0
11,01/01/2010,Jowar,Jowar ( White),Average,C.R.NAGAR,90,Quintal,1530,1530,1530,Cereals,1530.0
12,01/01/2010,Jowar,Jowar ( White),Average,BELAGAVI,13,Quintal,2100,2900,2400,Cereals,2500.0
13,01/01/2010,Jowar,Jowar ( White),Average,LAXMESHWAR,22,Quintal,1060,1865,1406,Cereals,1462.5
14,01/01/2010,Jowar,Jowar ( White),Average,VIJAYAPURA,6,Quintal,1900,2200,2100,Cereals,2050.0
15,01/01/2010,Jowar,Jowar ( White),Average,KALABURAGI,385,Quintal,2450,3210,2640,Cereals,2830.0
16,01/01/2010,Jowar,Jowar ( White),Average,GADAG,72,Quintal,1011,2269,1723,Cereals,1640.0
17,01/01/2010,Jowar,Jowar ( White),Average,BALLARI,21,Quintal,1129,1818,1533,Cereals,1473.5
18,01/01/2010,Jowar,Jowar ( White),Average,BIDAR,140,Quintal,3000,3500,3200,Cereals,3250.0
19,01/01/2010,Jowar,Jowar (Yellow),Average,BASAVAKALYANA,11,Quintal,2100,2325,2250,Cereals,2212.5
20,01/01/2010,Jowar,Local,Average,DAVANAGERE,121,Quintal,1800,1900,1850,Cereals,1850.0
21,01/01/2010,Jowar,Jowar Hybrid,FAQ,HARAPANAHALLI,162,Quintal,1380,1383,1381,Cereals,1381.5
22,01/01/2010,Jowar,Jowar Hybrid,Average,KOTTUR,2,Quintal,1273,1273,1273,Cereals,1273.0
23,01/01/2010,Jowar,Hybrid,Average,KALABURAGI,105,Quintal,1450,2100,1850,Cereals,1775.0
24,01/01/2010,Jowar,Hybrid,Average,BASAVAKALYANA,98,Quintal,1230,1350,1250,Cereals,1290.0
25,01/01/2010,Maize,Hybrid/Local,Average,BENGALURU,333,Quintal,1450,1600,1525,Cereals,1525.0
26,01/01/2010,Maize,Hybrid/Local,Medium,HOSADURGA,213,Quintal,1300,1350,1330,Cereals,1325.0
27,01/01/2010,Maize,Hybrid/Local,Average,HARIHARA,2620,Quintal,1300,1420,1360,Cereals,1360.0
28,01/01/2010,Maize,Hybrid/Local,FAQ,HARAPANAHALLI,587,Quintal,1330,1390,1347,Cereals,1360.0
29,01/01/2010,Maize,Hybrid/Local,Average,GOWRIBIDNUR,13009,Quintal,1400,1450,1420,Cereals,1425.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1057994,31/03/2017,Tamarind Fruit,Tamarind Fruit,Average,MADHUGIRI,30,Quintal,3300,5000,3692,Forest Products,4150.0
1057995,31/03/2017,Tamarind Fruit,Tamarind Fruit,Average,MYSURU,4,Quintal,1527,11777,7435,Forest Products,6652.0
1057996,31/03/2017,Tamarind Seed,Tamarind Seed,Average,MYSURU,1,Quintal,1515,1515,1515,Forest Products,1515.0
1057997,31/03/2017,Tamarind Seed,Tamarind Seed,Average,KADUR,168,Quintal,1525,1525,1525,Forest Products,1525.0
1057998,31/03/2017,Tamarind Seed,Tamarind Seed,Average,HASSAN,100,Quintal,1420,1420,1420,Forest Products,1420.0
1057999,31/03/2017,Bull (For Each),Bull,Average,DAVANAGERE,2,Numbers,35000,58000,46500,Live Stock/Poultry,46500.0
1058000,31/03/2017,Bull (For Each),Bull,Average,NIPPANI,8,Numbers,14000,26000,21000,Live Stock/Poultry,20000.0
1058001,31/03/2017,Bull (For Each),Bull,Average,BADAMI,19,Numbers,18000,26000,21000,Live Stock/Poultry,22000.0
1058002,31/03/2017,Calf (For Each),Other,Average,DAVANAGERE,6,Numbers,6000,7000,6500,Live Stock/Poultry,6500.0
1058003,31/03/2017,Cow (For Each),Cow,Average,DAVANAGERE,9,Numbers,35000,50000,42500,Live Stock/Poultry,42500.0
1058004,31/03/2017,Cow (For Each),Cow,Average,ARSIKERE,9,Numbers,28000,35000,30000,Live Stock/Poultry,31500.0
1058005,31/03/2017,Cow (For Each),Cow,Average,NIPPANI,8,Numbers,15000,45000,40000,Live Stock/Poultry,30000.0
1058006,31/03/2017,Cow (For Each),Cow,Average,BADAMI,36,Numbers,29000,50000,30000,Live Stock/Poultry,39500.0
1058007,31/03/2017,Goat (For Each),Goat,Average,NIPPANI,65,Numbers,2000,4800,4000,Live Stock/Poultry,3400.0
1058008,31/03/2017,Goat (For Each),Goat,Average,BADAMI,221,Numbers,4400,9900,5900,Live Stock/Poultry,7150.0
1058009,31/03/2017,He Baffalo (For Each),He Baffelo,Average,BADAMI,10,Numbers,2000,5000,5000,Live Stock/Poultry,3500.0
1058010,31/03/2017,Ox (For Each),Ox,Average,DAVANAGERE,7,Numbers,44500,54000,49250,Live Stock/Poultry,49250.0
1058011,31/03/2017,Ox (For Each),Ox,Average,ARSIKERE,203,Numbers,45000,90000,87000,Live Stock/Poultry,67500.0
1058012,31/03/2017,Ox (For Each),Ox,Average,NIPPANI,6,Numbers,12000,28000,22000,Live Stock/Poultry,20000.0
1058013,31/03/2017,Ox (For Each),Ox,Average,BADAMI,14,Numbers,21000,25000,23000,Live Stock/Poultry,23000.0
1058014,31/03/2017,Ram (For Each),Ram,Average,BADAMI,277,Numbers,4300,9800,6600,Live Stock/Poultry,7050.0
1058015,31/03/2017,She Baffalo (For Each),She Baffelo,Average,DAVANAGERE,44,Numbers,28000,35000,31500,Live Stock/Poultry,31500.0
1058016,31/03/2017,She Baffalo (For Each),She Baffelo,Average,KUDCHI,1,Numbers,45000,55000,50000,Live Stock/Poultry,50000.0
1058017,31/03/2017,She Baffalo (For Each),She Baffelo,Average,NIPPANI,22,Numbers,10000,50000,42000,Live Stock/Poultry,30000.0
1058018,31/03/2017,She Baffalo (For Each),She Baffelo,Average,BADAMI,106,Numbers,26000,50000,32000,Live Stock/Poultry,38000.0
1058019,31/03/2017,She Goat (For Each),She Goat,Average,BADAMI,285,Numbers,3200,6700,5200,Live Stock/Poultry,4950.0
1058020,31/03/2017,Sheep (For Each),Sheep Medium,Average,BADAMI,1120,Numbers,2800,6900,4800,Live Stock/Poultry,4850.0
1058021,31/03/2017,Crysanthamum,Other,Average,CHICKBALLAPUR,18,Quintal,10000,12000,10500,Flowers,11000.0
1058022,31/03/2017,Marygold,Other,Average,CHICKBALLAPUR,53,Quintal,1000,2500,1500,Flowers,1750.0
1058023,31/03/2017,Rose,Other,Average,CHICKBALLAPUR,45,Quintal,1500,3500,2200,Flowers,2500.0

In [19]:
data=data.loc[data['Market']=='HUBBALLI']

In [20]:
data.to_csv('agrifriend.csv')

In [66]:
pd.unique(data['Commodity'].values.ravel())

array(['Bajra', 'Jowar', 'Maize', 'Navane', 'Paddy', 'Ragi', 'Rice',
       'Sajje', 'Same/Savi', 'Wheat', 'T. V. Cumbu', 'Soji'], dtype=object)

In [31]:
X_train = train_data.drop("Arrival",axis = 1,inplace = False)
X_train = X_train.drop("Group",axis = 1,inplace = False)
Y_train = train_data["Arrival"]
X_test = test_data.drop("Arrival",axis =1,inplace = False)
X_test = X_test.drop("Group",axis =1,inplace = False)
Y_test = test_data["Arrival"]

In [32]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
# Iterating over all the common columns in train and test
for col in X_test.columns.values:
       # Encoding only categorical variables
       if X_test[col].dtypes=='object':
               data=X_train[col].append(X_test[col])
               le.fit(data.values)
               X_train[col]=le.transform(X_train[col])
               X_test[col]=le.transform(X_test[col])

In [33]:
X_train = X_train[:10000]
X_test = X_test[:10000]
Y_train = Y_train[:10000]
Y_test = Y_test[:10000]
X_train
X_test

      Date  Commodity  Variety  Grade  Market  Unit   Min   Max  Modal
0        7         10      126      0      88     1  1510  1510   1510
1        7         79      145      0      13     1  2800  3400   3200
2        7         79      145      3      45     1  1630  1630   1630
3        7         79      147      0      65     1  1000  1100   1050
4        7         88      165      0     125     1  1300  1400   1362
5        7         88      165      0       1     1  1200  1250   1200
6        7         88      165      0     114     1  1303  1339   1313
7        7         88      165      0      73     1  1380  1410   1400
8        7         88      127      0      88     1  1425  1425   1425
9        7         88      165      3      79     1  1350  1450   1400
10       7         88      127      3      45     1  1370  1450   1420
11       7         88      303      0      43     1  1500  1600   1500
12       7         88      127      0      24     1  1400  1400   1400
13       7         88      165      0      55     1  1350  1520   1350
14       7         88      127      0      15     1  1320  1320   1320
15       7         99      191      0      88     1  1550  1550   1550
16       7        105      221      3      45     1  1600  1950   1900
17       7        105      210      0      91     1  1600  1600   1600
18       7        105      210      3      66     1  1900  1930   1920
19       7        113      165      0      43     1  2000  3000   2500
20       7        116      143      0      80     1  2000  2000   2000
21       7         21       32      0      55     1  5000  5000   5000
22       7         21       32      0      65     1  5000  6100   6000
23       7         49       74      0      88     1  7010  7010   7010
24       7         68      104      0      65     1  4000  4400   4200
25       7         76      123      0      43     1  3000  3500   3000
26       7         76      123      0      88     1  3250  3250   3250
27       7        145      294      0     123     1  4400  4700   4600
28       7        145      294      0      65     1  4500  4800   4600
29       7         43       66      0      43     1  6000  6500   6500
...    ...        ...      ...    ...     ...   ...   ...   ...    ...
9970  1178         63      101      0      50     1  2500  2500   2500
9971  1178         64      102      0      21     1  2000  4200   2500
9972  1178         64      102      0      36     1  2000  3000   2500
9973  1178         64      102      0      33     1  2000  2800   2400
9974  1178         64      102      3      56     1   800   900    850
9975  1178         64      102      0      50     1  1200  1200   1200
9976  1178         64      102      0      61     1  1100  1500   1300
9977  1178         64      102      0       7     1  1000  1600   1450
9978  1178         64      102      0     113     1  4000  4400   4200
9979  1178         64      102      0      78     1  2000  2500   2300
9980  1178         64      102      0      28     1  2000  3800   3000
9981  1178         64      102      0     127     1  2200  2400   2300
9982  1178         64      102      0     103     1  3300  3500   3400
9983  1178         64      102      0      29     1  1685  1885   1785
9984  1178         65      103      0      16     1  1500  2200   1850
9985  1178         65      103      0      21     1  2200  2500   2300
9986  1178         65      103      0      78     1  1300  1500   1400
9987  1178         65      103      3     126     1  1000  1100   1050
9988  1178         65      103      0     103     1  1800  2000   1900
9989  1178         65      103      0     105     1  1000  1000   1000
9990  1178         65      103      0      50     1  1000  1798   1200
9991  1178         65      103      0      15     1  1000  1200   1000
9992  1178         65      103      0     146     1  1800  2000   1900
9993  1178         65      103      0      52     1  1000  1000   1000
9994  1178         65      103      0      61     1  1200  1800   1600
9995  1178         65      103      0       1     1  1200  1200   1200
9996  1178         65      103      0     120     1   950  1150   1000
9997  1178         65      103      0     110     1  1000  1200   1100
9998  1178         65      103      0     141     1   800  1000    924
9999  1178         65      103      0      99     1  1000  1000   1000

[10000 rows x 9 columns]

In [34]:
from sklearn.preprocessing import scale
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf
from sklearn.metrics import accuracy_score
X_train_scale=scale(X_train)
X_test_scale=scale(X_test)
# Fitting the linear regression model
lm = linear_model.LinearRegression()
model = lm.fit(X_train_scale,Y_train)
predictions = lm.predict(X_test)
# Checking the models accuracy
lm.score(X_test,Y_test)

-4648843.5054805949

In [35]:
from sklearn.preprocessing import OneHotEncoder
enc=OneHotEncoder(sparse=False)
X_train_1=X_train
X_test_1=X_test
columns=['Commodity', 'Variety', 'Grade', 'Unit']
for col in columns:
       data=X_train[[col]].append(X_test[[col]])
       enc.fit(data)

       temp = enc.transform(X_train[[col]])
       temp=pd.DataFrame(temp,columns=[(col+"_"+str(i)) for i in data[col].value_counts().index])
       temp=temp.set_index(X_train.index.values)
       
       X_train_1=pd.concat([X_train_1,temp],axis=1)
       temp = enc.transform(X_test[[col]])
       temp=pd.DataFrame(temp,columns=[(col+"_"+str(i)) for i in data[col]
            .value_counts().index])
       temp=temp.set_index(X_test.index.values)
       X_test_1=pd.concat([X_test_1,temp],axis=1)

### Random forest

In [36]:
preds = [0,0,0,0]

#### With no. of estimators = 100

In [52]:
X_train_mid = X_train[:10000]
X_test_mid = X_test[:10000]
Y_train_mid = Y_train[:10000]
Y_test_mid = Y_test[:10000]
#Import Library
from sklearn.ensemble import RandomForestRegressor 
# Create Random Forest object
model= RandomForestRegressor(n_estimators=100)
# Train the model using the training sets and check score
model.fit(X_train_1, Y_train_1)
#Predict Output
prediction= model.predict(X_test_1)
new = prediction.to_csv("agrifriend.csv")

In [53]:
prediction

array([  312.79,  8279.95,   206.84, ...,  5151.17,  5582.08,  1687.6 ])